<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>QR Code Generator</h1>
    <center>
    <form action="/generate_qr_code" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>
        <label for="phone">Phone:</label>
        <input type="text" name="phone" required><br>
        <input type="submit" value="Generate QR Code">
    </form></center>
</body>
</html>
